<div class="logo"></div>
<ul nz-menu nzTheme="dark" nzMode="horizontal">
  <li nz-menu-item nzMatchRouterExact routerLink="add-transactions">Transactions</li>
  <li nz-menu-item nzMatchRouterExact routerLink="spending">Spending</li>
  <li nz-menu-item nzMatchRouterExact routerLink="budget">Budget</li>
  <li nz-menu-item nzMatchRouterExact routerLink="savings">Savings</li>
<!--  <li nz-menu-item nzMatchRouterExact routerLink="reports">Reports</li>-->
  <li nz-menu-item nzMatchRouterExact routerLink="manage">Manage</li>
</ul>
