
<div class="d-flex align-items-center">

  <i nz-icon nzType="caret-left" nzTheme="fill" class="arrow-buttons mr-2"
     (click)="dateFilterStoreService.decrementMonth()"></i>

  <nz-select nzPlaceHolder="Select month" style="width: 100px" [ngModel]="(dateFilterStoreService.date | async)?.month"
             (ngModelChange)="dateFilterStoreService.changeMonth($event)">

    <nz-option *ngFor="let month of dateFilterStoreService?.months" [nzValue]="month" [nzLabel]="month | getMonthName"></nz-option>

  </nz-select>

  <i nz-icon nzType="caret-right" nzTheme="fill" class="ml-2 arrow-buttons"
     (click)="dateFilterStoreService.incrementMonth()"></i>

  <ng-container *ngIf="dateFilterStoreService.years">

    <nz-select nzPlaceHolder="Select year" [ngModel]="(dateFilterStoreService.date | async)?.year"
               class="ml-1" (ngModelChange)="dateFilterStoreService.changeYear($event)" style="width: 100px">

      <nz-option *ngFor="let year of dateFilterStoreService?.years" [nzValue]="year" [nzLabel]="year"></nz-option>

    </nz-select>

  </ng-container>

</div>
