
<div class="px-3">

  <h3 class="mb-4">User Settings</h3>

  <div class="border-bottom w-100 my-3"></div>

  <ng-container *ngIf="authQuery.select() | async as user">

    <div class="d-flex flex-column w-25">

      <h5>Initial Savings</h5>

      <div class="my-2">

        Initial Savings Amount
        <input nz-input [ngModel]="user.initialAmount" [ngModelOptions]="{updateOn: 'blur'}" currencyMask
               [options]="{align: 'left'}" (ngModelChange)="authService.update({initialAmount: $event})">

      </div>

      <div class="my-2">

        Initial Savings Date
        <nz-date-picker class="w-100" [ngModel]="user.initialDate" [ngModelOptions]="{updateOn: 'blur'}"
                        (ngModelChange)="authService.update({initialDate: $event})"></nz-date-picker>

      </div>

      <div class="my-2">

        Initial Savings Category
        <nz-select class="w-100" (ngModelChange)="authService.update({initialSubCategoryId: $event})"
                   [ngModel]="user.initialSubCategoryId" >

          <nz-option *ngFor="let subCategory of subCategoriesQuery.activeSavingsSubCategories$ | async"
                     [nzLabel]="subCategory.name" [nzValue]="subCategory.id"></nz-option>

        </nz-select>

      </div>

    </div>

  </ng-container>

  <div class="border-bottom w-100 my-3"></div>

  <div class="w-25">

    <h5>Password Reset</h5>

    <div class="my-2">

      Password

      <input nz-input [disabled]="savingPassword" [(ngModel)]="newPassword" type="password">

    </div>

    <div class="my-2">

      Confirm Password

      <input nz-input [disabled]="savingPassword" [(ngModel)]="confirmNewPassword" type="password">

    </div>

    <button class="mt-2" nz-button nzType="primary" (click)="updatePassword()" [nzLoading]="savingPassword"
            [disabled]="newPassword === '' || confirmNewPassword === '' || confirmNewPassword !== newPassword">Save Password</button>

    <div *ngIf="success" class="mt-2 text-success">Password changed</div>

    <div *ngIf="error" class="mt-2 text-danger">There was and error</div>


  </div>

  <div class="border-bottom w-100 my-3"></div>

  <div>

    <h5>Logout of account</h5>

    <button class="mt-2" nz-button nzType="primary" (click)="loginService.logout()">Logout</button>

  </div>

</div>

