<div *ngIf="inDepthStoreService.summedEntries$ | async as summedEntries" style="font-size: 1rem;"
     class="d-flex flex-column align-items-end w-100">

  <div class="mb-1" style="align-self: flex-start">Last {{summedEntries.length}} Months:</div>

  <ng-container *ngIf="summedEntries | getSumOfSummedEntries as sumOfSummed">

    <div>Total {{verbiage}}: {{sumOfSummed | currency}}</div>
    <div>{{verbiage}} / Month: {{(sumOfSummed / summedEntries.length) | currency}}</div>

  </ng-container>

</div>
