<div *ngIf="summedEntries" style="font-size: 1rem;" class="d-flex flex-column align-items-end w-100">

  <div class="mb-1" style="align-self: flex-start">Last {{summedEntries.length}} Months:</div>

<!--  <ng-container *ngIf="summedEntries | sumOfSummedEntries as sumOfSummed">-->

<!--    <div class="font-italic">Total {{verbiage}}: {{sumOfSummed | currency}}</div>-->
<!--    <div class="font-italic">{{verbiage}} / month: {{(sumOfSummed / summedEntries.length) | currency}}</div>-->

<!--  </ng-container>-->

</div>
