<div class="w-100 p-2">

  <nz-table nzSize="small" [nzData]="[true]" [nzShowPagination]="false" nzBordered>

    <thead>

    <tr (click)="makeSavingsCategoryActive()">
      <th rowspan="2" class="table-title pointer">
        <div class="d-flex justify-content-between">
          <div>
            <i *ngIf="!showSavings" (click)="showSavings = !showSavings" nz-icon nzType="caret-right" nzTheme="fill"></i>
            <i *ngIf="showSavings" (click)="showSavings = !showSavings" nz-icon nzType="caret-down" nzTheme="fill"></i>
            Savings
          </div>
<!--          <button nz-button (click)="openGoalModal.next()" nzType="primary" nzGhost nzSize="small" nzShape="">-->
<!--            <i nz-icon nzType="plus"></i>New Goal</button>-->
        </div>
      </th>
      <th class="content">Goal</th>
      <th class="content">Saved</th>
      <th class="content">Remaining</th>
    </tr>

    <tr>
      <ng-container *ngIf="(entryBudgetWrapperQuery.getSavingsTotals$ | async) as totals">

        <th class="content">{{totals.budget | currency}}</th>
        <th class="content">{{totals.entry | currency}}</th>
        <th class="content">{{totals.budget - totals.entry | currency}}</th>

      </ng-container>
    </tr>

    </thead>

    <tbody *ngIf="showSavings">

    <ng-container *ngIf="categoriesQuery.savingsCategories$ | async as savingsCategories">

      <ng-container *ngFor="let category of savingsCategories">

        <tr (click)="inDepthStoreService.newActiveCategory(category)" *ngIf="savingsCategories.length > 1"
            class="category-row pointer" [ngClass]="{'selected-row': activeCategory | isSelectedCategory: category.id}">

          <td>
            <i *ngIf="!category.showInBudget" nz-icon nzType="caret-right" nzTheme="fill"
               (click)="categoriesService.updateState(category, {showInBudget: !category.showInBudget})"></i>
            <i *ngIf="category.showInBudget" nz-icon nzType="caret-down" nzTheme="fill"
               (click)="categoriesService.updateState(category, {showInBudget: !category.showInBudget})"></i>
            {{category.name}}
          </td>


          <ng-container *ngIf="category | getCategoryTotals | async as categoryTotals">

            <td class="content">{{categoryTotals.budget | currency}}</td>
            <td class="content">{{categoryTotals.entry | currency}}</td>
            <td class="content">{{categoryTotals.budget - categoryTotals.entry | currency}}</td>

          </ng-container>

        </tr>

        <ng-container *ngIf="savingsCategories.length <= 1 || category.showInBudget">

          <tr *ngFor="let subCategory of category | subCategoriesByCategory | async" class="pointer"
              (click)="inDepthStoreService.newActiveCategory(subCategory)"
              [ngClass]="{'selected-row': activeCategory | isSelectedSubCategory: subCategory.id}">

            <ng-container *ngIf="subCategory | getSubCategoryTotals | async as subCategoryTotals">

              <ng-container *ngIf="subCategory.isActive || subCategoryTotals.entry > 0">

                <td>{{subCategory.name}}</td>

                <td class="content">
                  <input nz-input nzSize="small" currencyMask [options]="{align: 'left'}" class="budget-input"
                         (ngModelChange)="entryBudgetWrapperService.updateBudget(subCategoryTotals.budget, $event)"
                         [ngModel]="subCategoryTotals.budget.amount" [ngModelOptions]="{updateOn: 'blur'}">
                </td>
                <td class="content">
                  <i *ngIf="subCategoryTotals.budget.amount !== subCategoryTotals.entry && !ui.masterBudgetView"
                     nz-icon class="mr-2 pointer" nzType="left-square" nzTheme="outline"
                     (click)="entryBudgetWrapperService.updateBudget(subCategoryTotals.budget, subCategoryTotals.entry)"></i>
                  {{subCategoryTotals.entry | currency}}
                </td>
                <td (click)="openMoveMoneyModal.emit(subCategoryTotals.budget)"
                  class="{{-(subCategoryTotals.prevMonthSum + subCategoryTotals.budget.amount - subCategoryTotals.entry) | getTextColor}} content">
                  {{(subCategoryTotals.prevMonthSum + subCategoryTotals.budget.amount - subCategoryTotals.entry) | currency}}
                </td>

              </ng-container>

            </ng-container>

          </tr>

        </ng-container>

      </ng-container>

    </ng-container>

    </tbody>

  </nz-table>

</div>

<app-new-goal-modal [openModalEvent]="openGoalModal.asObservable()"></app-new-goal-modal>
